.main {
    width: 100%;
	height: 350px;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
	text-align: center;
	color:white;
    font-family: 'Catamaran', sans-serif;
}

	#text-background {
		background-color:rgba(7, 16, 40, 0.95);
		opacity:0.8;
		margin:50px auto 0 auto;
        border-radius: 15px;
        padding: 3px 10px;
		width: 40%;
	}

	.main h2 {
		font-size:50px;
		font-weight:100;
		margin:20px;
	}

	.main h3 {
		font-size:20px;
		font-weight:100;
		margin:10px;
        position: relative;
        bottom: 20px;
	}

#guide-pic {
    background-image: url('raw/goldhome2.jpg');
}

#video-pic
{
    background-color:none;
}

#next-section {
    background-color: white;
    text-align:center;
}

#container 
{
    max-width: 60em;
    /* background-color: #d8d8d8; */
    margin: 0 auto;
    text-align:center;
}

.third {
    width: 31%;
    display: inline-block;
    text-align: center;
    padding: 10px 3px;
    font-family: 'Catamaran', sans-serif;
}

.box 
{
    background-color: #143e82;
    display: block;
    border-radius: 5px;
    margin-bottom: 10px;
    float: top;
    padding: 2px 0;
}

    .box h1 {
        color: white;
        font-weight: 400;
        font-size: 27px;
        margin: 10px 0;
        padding: 3px;
    }

    .box p {
        margin: 10px 20px;
        color:white;
        
    }

    .box img
    {
        width: 125px;
    }

    .box a
    {
        text-decoration: none;
        color: #bc995c;
        padding: 10px;
        background-color: white;
        margin: 0 3px 10px 3px;   
        border-radius: 5px;
        font-weight: 700;
        display: inline-block;
        border: 3px solid white;
            -webkit-transition: .3s all;
            transition: .3s all;
    }

    .box a:hover
    {
        border: 3px solid #bc995c;
    }

@media (max-width: 1000px) {
    #section {
        height: auto;
    }
    
    .third {
        width: 70%;
    }
    
    .main
    {
        display:block;
        height: auto;
        padding-bottom: 20px;
    }
    
    #text-background
    {
        margin-bottom: 20px;
    }
}



