.main {
    width: 100%;
	height: 350px;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
	text-align: center;
	color:white;
    font-family: 'Catamaran', sans-serif;
}

	#text-background {
		background-color:rgba(7, 16, 40, 0.95);
		opacity:0.8;
		margin:50px auto 0 auto;
        border-radius: 15px;
        padding: 3px 10px;
		width: 40%;
	}

	.main h2 {
		font-size:50px;
		font-weight:100;
		margin:20px;
	}

	.main h3 {
		font-size:20px;
		font-weight:100;
		margin:10px;
        position: relative;
        bottom: 20px;
	}

#guide-pic {
    background-image: url('raw/goldhome2.jpg');
}

#video-pic
{
    background-color:none;
}

#next-section {
    background-color: white;
    text-align:center;
    padding-bottom: 20px;
}

#container 
{
    max-width: 60em;
    /* background-color: #d8d8d8; */
    margin: 0 auto;
    text-align:center;
    padding-top: 10px;
}

.third {
    width: 31%;
    text-align: center;
    padding: 10px 3px;
    font-family: 'Catamaran', sans-serif;
    display: table-cell;
}

.box 
{
    background-color: #143e82;
    display: block;
    border-radius: 5px;
    margin-bottom: 10px;
    float: top;
    padding: 2px 0 10px 0;
}

    .box h1 {
        color: white;
        font-weight: 400;
        font-size: 27px;
        margin: 10px 0;
        padding: 3px;
    }

    .box p {
        margin: 10px 20px;
        color:white;
        
    }

    .box img
    {
        width: 125px;
    }

    .box a
    {
        text-decoration: none;
        color: white;
        padding: 5px 15px;
        background-color: #143e82;
        margin: 0 3px 0px 3px;   
        font-weight: 700;
        display: inline-block;
        opacity: 0.9;
        border: 3px solid white;
        -webkit-transition: .3s all;
        transition: .3s all;
    }

    .box a:hover
    {
        opacity: 1;
        color: #bc995c;
        background-color: white;

    }

.section
{
    background-color:#e3e3e3;
    text-align:center;
    padding: 10px;
    margin: 10px 0;
}

.section a
    {
        text-decoration: none;
        color: #222;
        padding: 5px 15px;
        background-color: #e3e3e3;
        margin: 0 3px 0px 3px;   
        font-weight: 700;
        display: inline-block;
        opacity: 0.9;
        border: 3px solid #222;
        -webkit-transition: .3s all;
        transition: .3s all;
    }

    .section a:hover
    {
        opacity: 1;
        color: #bc995c;
        background-color: #222;

    }

    .section h1, p
    {
        margin: 5px 0px;
        color: #222222;
    }

.half
{ 
    width: 49.8%;
    text-align: center;
    display: table-cell;
    margin: 5px;
}

.half:nth-child(2)
{
    padding-right: 3px;
}
.half:nth-child(3)
{
    padding-left: 3px;
}

.fifth
{
    width: 19%;
    text-align:center;
    display: inline-block;
    border-left: 1px solid gray;
    font-family: 'Open Sans', sans-serif;
}

.fifth:nth-child(3){
    border:none;
}


.fifth h3
{
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    margin: 5px 0;
    color: #bc995c;
}

.fifth h2
{
    font-weight: 100;
    font-size: 44px;
    margin: 5px 0;
    color: rgb(55, 73, 119);
}

#red
{
    color: #e85f53;
    font-family: 'Open Sans', sans-serif;

}



@media (max-width: 1000px) {
    #section {
        height: auto;
    }
    
    .section
    {
        width: 70%;
        margin: 0 auto;
    }
    
    .third {
        width: 70%;
        display:block;
        margin: 0 auto;
    }
    
    .half
    {
        width: 100%;
        display:block;
        margin: 0 auto;
        padding-left: 0;
    }
    
    .fifth
    {
        display: block;
        width: 70%;
        margin: 10px auto;
        border-top: 1px solid #222;
        border-left:none;
    }
    
    .half:nth-child(3)
{
    padding-left: 0px;
}
    
    .main
    {
        display:block;
        height: auto;
        padding-bottom: 20px;
    }
    
    #text-background
    {
        margin-bottom: 20px;
    }
}



